<div class="center hero-unit">
	<h1>Welkom bij de Binas Quest</h1>
    <p class="home_page_btn"><%= link_to "Registreer", registreer_path, class: "btn btn-large btn-primary" %></p>
    
	<p><%= link_to "Log in", '#', class: "btn btn-large btn-primary" %></p>
	
	<p><%= link_to 'Hoe werkt het?', help_path, class: "btn btn-large btn-primary" %></p>
	
	<p><%= link_to 'Hall of Fame', '#', class: "btn btn-large btn-primary" %></p>
	
</div>
