<div class="center hero-unit">
	<h1>Welkom bij de Binas Quest</h1>
    <%= link_to "Registreer", '#', class: "btn btn-large btn-primary" %>
    
	<%= link_to "Log in", '#', class: "btn btn-large btn-primary" %>
	
	<%= link_to 'Hoe werkt het?', '#', class: "btn btn-large btn-primary" %>
	
	<%= link_to 'Hall of Fame', '#', class: "btn btn-large btn-primary" %>
	
	
	

</div>
