<div class="span8">
	<h3><%= @levelpack.title %></h3>
	<% unless @levels.blank? %>
		<section class="levelpack_thumbs">
			<%= render 'levelpacks/levelpack_thumbs' %>
		</section>
		<section id="level_image">
			<%= image_tag(@level.img_src) unless @level.nil? %>
		</section>
		<% if @levelpack == @unlocked_levelpacks.last %>
			<section id="enter_solution_form">
				<%= render 'levelpacks/enter_solution_form' %>
			</section>
		<% else %>
			<h2>Deze puzzles heb je al opgelost</h2>
		<% end %>		
	<% else %>
		<h2>Levelpack does not contain any levels</h2>
	<% end %>
</div>		