<% provide :title, 'Levelpack index' %>

<div class="database_index">
	<h1>Levelpack index</h1>
	<div class="row">
		<div class="span4">
			<%= will_paginate %>
				<%= render 'list_of_all_levelpacks' %>
			<%= will_paginate %>
		</div>
	</div>
</div>


