<div class="unlocked_levelpacks">
	<ul>
		<% @unlocked_levelpacks.each do |levelpack| %>
			<li><%= link_to levelpack.title, action: :toggle_current_levelpack_or_level, levelpack_id: levelpack.id %></li>
		<% end %>
	</ul>
</div>
