<% provide :title, @user.naam %>

<div class="row">
	<aside class="span4">
		<section>
			<h1><%= @user.naam %></h1>
		</section>
		<section>
			<%= render 'unlocked_levelpacks' %>
		</section>
	</aside>
</div>

