<% provide :title, @level.name %>

<div class="levels_show">
	<div class="row">
		<%= render 'level_sidebar' %>
	
		<div class="span8">
			<%= image_tag(@level.img_src, alt: @level.name) %>
		</div>
	</div>
</div>



